h1 		{color: #CD533B;
		font-size: 3em;}

h2		{color: #96705B;
		font-size: 2em;
		border-style: hidden hidden hidden solid;
		border-color: #CD533B;
		background-color: #FFBF46;}

h3		{color: #574F2A;}

h4		{color: #2E1F27;}

ul		{}

body 	{font-family: 'DM Sans',sans-serif;
		background-color: #E4FDE1;
		color: #0B3954;
		padding-left: 20px;}