
#Header {background-color: #89A894;
		padding: 25px;
		text-align: center;
}

#Info {background-color: #4B644A;
		padding: 25px;
		text-align: center;
    	margin: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	float: center;
}

#BrownieT {background-color: #89A894;
		padding: 25px;
		text-align: center;

	}

#BrownieIngredients {background-color: #F46036;
		padding: 25px;
		height: 300px;
    	width: 550px;
    	margin: 5px;
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	float: left;
}

#BrownieDirections {background-color: #F46036;
		padding: 25px;
		height: 500px;
    	width: 550px;
    	margin: 5px;
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	float: left;
}

#FrostingIngredients {background-color: #49393B;
		padding: 25px;
		height: 250px;
    	width: 550px;
    	margin: 5px;
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	float: left;
}

#FrostingDirections {background-color: #49393B;
		text-color: #FFD6BA;
		padding: 25px;
		height: 250px;
    	width: 550px;
    	margin: 5px;
    	padding-left: 20px;
    	padding-right: 20px;
    	padding-bottom: 10px;
    	padding-top: 10px;
    	float: left;
    }